{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block stylesheet %}{% endblock %}

{% block content %}
<h1>Mentions légales</h1>
<p>En vigueur au 04/10/2020</p>
<p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des Utilisateurs du site https://tours-php-2009-project2-weshare.phprover.wilders.dev/ les présentes mentions légales.</p>
<p>La connexion et la navigation sur le site (indiquer le nom du site) par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.</p>
<p>Ces dernières sont accessibles sur le site à la rubrique « Mentions légales ».</p>
<h2>ARTICLE 1 : L’éditeur</h2>
<p>L’édition et la direction de la publication du site https://tours-php-2009-project2-weshare.phprover.wilders.dev/ est assurée par Kevin, Célia, Quentin, Léo, Emre, domiciliée 49 Boulevard Preuilly, 37000 Tours</p>
<h2>ARTICLE 2 : L’hébergeur</h2>
<p>L'hébergeur du site https://tours-php-2009-project2-weshare.phprover.wilders.dev/ est la Société WeShare, dont le siège social est situé au 49 Boulevard Preuilly, 37000 Tours</p>
<h2>ARTICLE 3 : Accès au site</h2>
<p>Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découlant d’une nécessité de maintenance.</p>
<p>En cas de modification, interruption ou suspension des services le site https://tours-php-2009-project2-weshare.phprover.wilders.dev/ ne saurait être tenu responsable.</p>
<h2>ARTICLE 4 : Collecte des données</h2>
<p>Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.</p>
<p>En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit : via une adresse mail.</p>
<h2>ARTICLE 5 : Propriété intellectuelle</h2>
<p>Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site https://tours-php-2009-project2-weshare.phprover.wilders.dev/,  sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</p>
<p>Pour plus d’informations, se reporter aux CGU du site https://tours-php-2009-project2-weshare.phprover.wilders.dev/ accessible à la rubrique« CGU »</p>
{% endblock %}