{% extends 'base.html.twig' %}

{% block title %}Partenaires{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/partnersStyle.css">{% endblock %}

{% block content %}
<p><a href="https://tours-php-2009-project2-quizzy.phprover.wilders.dev/question/index">Quizzy</a></p>
<p><a href="https://tours-php-2009-project2-mybooks.phprover.wilders.dev/">My Books</a></p>
<p><a href="https://tours-php-2009-project2-defendthecastle.phprover.wilders.dev/">Defend the castle</a></p>
<p><a href="https://www.wildcodeschool.com/fr-FR">Wild Code School</a></p>
{% endblock %}