{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/presentationStyle.css">{% endblock %}

{% block content %}
    <h1>Présentation de la Team Weshare</h1>

    <div class="presentation-div-odd">
        <img class="presentation-picture"
            src="/assets/images/celia.png"
            alt="photocelia">
        <p>aka Khaleesi reine du code, briseuse des chaînes des bugs</p>
    </div>

    <div class="presentation-div-even">
        <img class="presentation-picture"
            src="/assets/images/emre.png"
            alt="photoemre">
        <p>aka l'homme au chapeau</p>
    </div>

    <div class="presentation-div-odd">
        <img class="presentation-picture"
            src="/assets/images/kevin.JPG"
            alt="photokevin">
        <p>Toujours prêt à prendre tous les risques, à la limite de l'inconscience et de la folie, il saura vous amener là où vous n'imaginiez même pas que c'était possible.</p>
    </div>

    <div class="presentation-div-even">
        <img class="presentation-picture"
            src="/assets/images/leo.jpg"
            alt="photoleo">
        <p>aka le mac "Laisse pas trainer ton DS_store"</p>
    </div>

    <div class="presentation-div-odd">
        <img class="presentation-picture"
            src="/assets/images/quentin.png"
            alt="photoquentin">
        <p>"Ecto milum era este, colim fuera seri colsum", ça ne veut rien dire mais je trouve que ça collait bien avec l'amiance.</p>
    </div>

{% endblock %}