{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/presentationStyle.css">{% endblock %}

{% block content %}
    <h1 class="title-h1">Présentation de la Team Weshare</h1>

    <div class="presentation-div-odd mobile-version">
        <img class="presentation-picture"
            src="/assets/images/celia.png"
            alt="photocelia">
        <p>aka Khaleesi reine du code, briseuse des chaînes des bugs</p>
    </div>

    <div class="presentation-div-even mobile-version">
        <img class="presentation-picture"
            src="/assets/images/emre.png"
            alt="photoemre">
        <p>aka l'homme au chapeau</p>
    </div>

    <div class="presentation-div-odd mobile-version">
        <img class="presentation-picture"
            src="/assets/images/kevin.JPG"
            alt="photokevin">
        <p>Toujours prêt à prendre tous les risques, à la limite de l'inconscience et de la folie, il saura vous amener là où vous n'imaginiez même pas que c'était possible.</p>
    </div>

    <div class="presentation-div-even mobile-version">
        <img class="presentation-picture"
            src="/assets/images/leo.jpg"
            alt="photoleo">
        <p>aka le mac "Laisse pas trainer ton DS_store"</p>
    </div>

    <div class="presentation-div-odd mobile-version">
        <img class="presentation-picture"
            src="/assets/images/quentin.png"
            alt="photoquentin">
        <p>"Ecto milum era este, colim fuera seri colsum", ça ne veut rien dire mais je trouve que ça collait bien avec l'amiance.</p>
    </div>

    <div class="desktop-version">
        <img src="/assets/images/presentation-desktop.png"
            alt="photo team">
    </div>

    <div class="nous-contacter">
        <h1>Nous contacter</h1>
        <div class="contact-link">
            <ul>
                <li>
                    <p>Célia Boisseau:</p> 
                    <a href="https://github.com/CeliaBoiss" id="github" target="_blank">https://github.com/CeliaBoiss</a><br>
                    <a href="https://www.linkedin.com/in/celia-boisseau/" id="linkedin" target="_blank">https://www.linkedin.com/in/celia-boisseau/</a>
                </li>
                <li>
                    <p>Kevin Roig:</p> <a href="https://github.com/KevinRoig" id="github" target="_blank">https://github.com/KevinRoig</a><br>
                    <a href="https://www.linkedin.com/in/kevin-roig-79580b198/" id="linkedin" target="_blank">https://www.linkedin.com/in/kevin-roig-79580b198/</a>
                </li>
                <li>
                    <p>Quentin Blanc:</p> <a href="https://github.com/Quentin-BLANC" id="github" target="_blank">https://github.com/Quentin-BLANC</a><br>
                    <a href="https://www.linkedin.com/in/quentin-blanc-9824911b9/" id="linkedin" target="_blank">https://www.linkedin.com/in/quentin-blanc-9824911b9/</a>
                </li>
                <li>
                    <p>Emre Aydin:</p> <a href="https://github.com/emrecaydin" id="github" target="_blank">https://github.com/emrecaydin</a><br>
                    <a href="https://www.linkedin.com/in/emre-can-aydin-09149818b/" id="linkedin" target="_blank">https://www.linkedin.com/in/emre-can-aydin-09149818b/</a>
                </li>
                <li>
                    <p>Léo Brossillon:</p> <a href="https://github.com/leobro7" id="github" target="_blank">https://github.com/leobro7</a><br>
                    <a href="https://www.linkedin.com/in/léo-brossillon-00661b1ba/" id="linkedin" target="_blank">https://www.linkedin.com/in/léo-brossillon-00661b1ba/</a>
                </li>
            </ul>
        </div>

    </div>

{% endblock %}