{% extends 'base.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/indexStyle.css">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block content %}
<section>
    <p>Ut enim excepteur ipsum esse sit qui ea esse exercitation labore ullamco fugiat dolore quis. Cillum nostrud laboris 
    sit ea occaecat veniam et culpa ad aliqua. Eiusmod anim voluptate quis eiusmod cupidatat nulla ipsum ea eiusmod ad 
    officia reprehenderit nisi id. Minim Lorem incididunt excepteur aliquip duis consequat eu non.</p>
</section>
<section>
    <button>Nouvelle demande</button>
    <button>Toutes les demandes</button>
</section>
<section>
    <h3>Dernières demandes publiées</h3>
    <div class="caroussel">
        <p>{{ errorBDD[0] }}</p>
        <div class="slideshow-container">
        {% for request in requests %}
            <div class="mySlides fade">
                <div class="request_title">{{ request.title }}</div>
                <div class="request_user_firstname">{{ request.firstname }} {{ request.lastname }}</div>
            </div>
        {% endfor %}
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <div class="slideButtons">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
            <span class="dot" onclick="currentSlide(6)"></span>
        </div>
    </div>
</section>
<section>
    <p>Ut enim excepteur ipsum esse sit qui ea esse exercitation labore ullamco fugiat dolore quis. Cillum nostrud laboris 
    sit ea occaecat veniam et culpa ad aliqua. Eiusmod anim voluptate quis eiusmod cupidatat nulla ipsum ea eiusmod ad 
    officia reprehenderit nisi id. Minim Lorem incididunt excepteur aliquip duis consequat eu non.</p>
    <p>Ut enim excepteur ipsum esse sit qui ea esse exercitation labore ullamco fugiat dolore quis. Cillum nostrud laboris 
    sit ea occaecat veniam et culpa ad aliqua. Eiusmod anim voluptate quis eiusmod cupidatat nulla ipsum ea eiusmod ad 
    officia reprehenderit nisi id. Minim Lorem incididunt excepteur aliquip duis consequat eu non.</p>
    <p>Ut enim excepteur ipsum esse sit qui ea esse exercitation labore ullamco fugiat dolore quis. Cillum nostrud laboris 
    sit ea occaecat veniam et culpa ad aliqua. Eiusmod anim voluptate quis eiusmod cupidatat nulla ipsum ea eiusmod ad 
    officia reprehenderit nisi id. Minim Lorem incididunt excepteur aliquip duis consequat eu non.</p>
</section>
{% endblock %}
