{% extends 'base.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/seeDemandsStyleSheet.css">
{% endblock %}


{% block content %}

    <div class="publier">
        Tu as une nouvelle demande que tu veux publier?
    </div>
    <div>
        {# liens à prévoir #}
        <button>Nouvelle demande</button>
    </div>
    <div class="enregistrer">
        Tu veux participer et tu n'es pas encore enregistré?
    </div>
    <div>
        {# liens à prévoir #}
        <button>Je m'enregistre!</button>
    </div>
    <div>
        Liste des demandes
    </div>
    <div class="cards_container">
        {% for demande in demandes %}
            <div class="cards">
                <div class="demand_title">{{ demande.demande_titre }}</div>
                <div class="demand_user">{{ demande.utilisateur_prenom }}</div>
            </div>
        {% endfor %}


    </div>

{% endblock %}