{% extends 'layout.html.twig' %}

{% block content %}

    <div>
        Tu as une nouvelle demande que tu veux publier?
    </div>
    <div>
        <button>Nouvelle demande</button>
    </div>
    <div>
        Tu veux participer et tu n'es pas encore enregistré?
    </div>
    <div>
        <button>Je m'enregistre!</button>
    </div>
    <div>
        Liste des demandes
    </div>
    <div>
        <h1>Item {{ item.title }}</h1>
        <p>{{ item.id }}. {{ item.title }}</p>
        <a href="/item/edit/{{ item.id }}">Edit</a>
    </div>

{% endblock %}
