<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire de demande</title>
</head>
<body>
    <form action="" >
        <div style="text-align: center;">
            <label for="firstname">Prénom</label>
            <input id="firstname" type="text">
        </div>
        <div style="text-align: center;">
            <label for="address">Adresse</label>
            <input id="address" type="text">
        </div>
        <div style="text-align: center;">
            <label for="tel">Téléphone</label>
            <input id="tel" type="tel">
        </div>
        <div style="text-align: center;">
            <label for="mail">@</label>
            <input id="mail" type="email">
        </div>
        <div style="text-align: center;">
            <label for="message">Message</label>
            <textarea  id="message"></textarea>
        </div>
    </form>
</body>
</html>