{% extends 'base.html.twig' %}

{% block title %}
    Liste des demandes
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/seeRequestStyleSheet.css">
{% endblock %}


{% block content %}

    <div class="publish-container">
        <div class="publish">
            <p>Tu as une nouvelle demande que tu veux publier?</p>
            {# liens à prévoir #}
            <button>Nouvelle demande</button>
        </div>
        <div class="vertical-line"></div>
        <div class="signIn">
            <p>Tu veux participer et tu n'es pas encore enregistré?</p>
            {# liens à prévoir #}
            <button>Je m'enregistre!</button>
        </div>
    </div>
    <div class="requests_list">
        <div class="list_title">
        Liste des demandes
        </div>
        <div class="cards_container">
            {% for request in requests %}
                <div class="cards">
                    <div class="request_title">{{ request.title }}</div>
                    <div class="request_user">{{ request.firstname }}</div>
                    <div class="loupe"><img src="/assets/images/loupe_small_size2.png" alt="Une petite loupe pour rentrer dans la demande"></div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}