<!doctype html>
<html lang="fr"
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WeShare - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/baseStyle.css">
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.png">
</head>

<body>
    <header>
        <h1 id="baseTitle">WeShare</h1>
        <a href="/home/index"><img id="logo" src="/assets/images/logo1.png" alt="WeShare Logo"></a>
        <span id="theme-toggle" class="theme-toggle"><img src="/assets/images/dark-theme-logo.png" alt=""></span>
        <span id="theme-toggle2" class="theme-toggle2"><img src="/assets/images/unicorn-theme-logo.png" alt=""></span>
        <div class="openButton">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <nav class='sideNav'>
            <a href="javascript:void(0)" class="closeButton">&times;</a>
            <ul class = "nav head">
                <li class="navLink"><a href="/request/list">Toutes les demandes</a></li>
                <li class="navLink"><a href="/request/acceptedList">Demandes prise en charge</a></li>
                <li class="navLink"><a href="/request/listExpress">Liste express</a></li>
                <li class="navLink"><a href="/request/add">Nouvelle demande</a></li>
                <li class="navLink"><a href="/user/add">Nouvel utilisateur</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}

    <footer>
        <ul class = "foot">
            <li>Nous contacter</li>
            <li>Mentions légales</li>
            <li>Lien footer</li>
            <li>Lien footer</li>
        </ul>
    <script src="/assets/js/burgerMenu.js"></script>
    <script>function toggleTheme () {
    const htmlTag = document.getElementsByTagName('html')[0]
    if (htmlTag.hasAttribute('data-theme')) {
        htmlTag.removeAttribute('data-theme')
        return window.localStorage.removeItem("site-theme")
    }

    htmlTag.setAttribute('data-theme', 'dark')
    window.localStorage.setItem("site-theme", "dark")
}

function applyInitialTheme () {
    const theme = window.localStorage.getItem("site-theme")
    if (theme !== null) {
        const htmlTag = document.getElementsByTagName("html")[0]
        htmlTag.setAttribute("data-theme", theme)
    }
}

applyInitialTheme();

document
    .getElementById("theme-toggle")
    .addEventListener("click", toggleTheme);

</script>

<script>function toggleTheme2 () {
    const htmlTag = document.getElementsByTagName('html')[0]
    if (htmlTag.hasAttribute('data-theme')) {
        htmlTag.removeAttribute('data-theme')
        return window.localStorage.removeItem("site-theme")
    }

    htmlTag.setAttribute('data-theme', 'unicorn')
    window.localStorage.setItem("site-theme", "unicorn")
}

function applyInitialTheme () {
    const theme = window.localStorage.getItem("site-theme")
    if (theme !== null) {
        const htmlTag = document.getElementsByTagName("html")[0]
        htmlTag.setAttribute("data-theme", theme)
    }
}

applyInitialTheme();

document
    .getElementById("theme-toggle2")
    .addEventListener("click", toggleTheme2);

</script>

    {% block javascript %}{% endblock %}
</body>
</html>
