:root {
    --main-bg-color: rgb(240, 240, 240);
    --secondary-bg-color: rgb(255, 255, 255);
    --third-bg-color: rgb(185, 185, 185); 
    --borders-color:rgb(0, 0, 0);
    --loupe-color: green;
    --text-color: black;
    --global-theme-toggle-bg: black;
    --global-theme-toggle-bg2: #ffc6fb;
    --global-theme-toggle-content: 'THEME 1';
    --global-theme-toggle-content2: 'THEME 2';

    --loupe-color: #bbeb77;
}  

html[data-theme='unicorn'] {
    --main-bg-color: #fffafa;
    --secondary-bg-color: #ffc6fb;
    --third-bg-color: #d6b9ff;
    --borders-color: #c188d7;
    --loupe-color:rgb(175, 113, 247);
    --text-color: rgb(255, 21, 157);
    --global-theme-toggle-bg: #ccc;
    --global-theme-toggle-content: 'THEME 3';
    }

    .theme-toggle {
        position: fixed;
        right: 100px;
        top: 20px;
        cursor: pointer;
    }
    
    .theme-toggle::after {
        content: var(--global-theme-toggle-content);
    }

html[data-theme='dark'] {
    --main-bg-color: #413535;
    --secondary-bg-color: #3a3a3a;
    --third-bg-color: #d6b9ff;
    --borders-color: #1c1b24;
    --loupe-color:rgb(36, 184, 23);
    --text-color: rgb(233, 233, 233);
    --global-theme-toggle-bg2: #ccc;
    --global-theme-toggle-content2: '🌝 THEME2';
    
    }

    .theme-toggle2 {
        position: fixed;
        right: 20px;
        top: 20px;
        background: var(--global-theme-toggle-bg2);
        padding: 10px;
        border-radius: 5px;
        font-size: 0.8rem;
        font-weight: 700;
        cursor: pointer;
    }
    
    .theme-toggle2::after {
        content: var(--global-theme-toggle-content2);
    }

body {
    background-color: var(--main-bg-color);
    margin: 0;
}

* {
    color:var(--text-color);
}

#logo {
    width: 75%;
    margin: 10px 0 0 10px ;
}

a:visited, a:link {
    text-decoration: none;
    color: black;
}

/* burger menu style */
#baseTitle {
    display: none;
}

#logo {
    width: 70%;
}

.openButton {
    margin : 8px 8px 0 8px;
    top: 0;
    right: 0;
    cursor: pointer;
    position: absolute;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    border-radius: 10px;
    margin: 6px 6px;
}

.closeButton {
  font-size: 2rem;
  color: black;
  text-decoration: none;
  margin : 8px;
  padding: 3px;
}

.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:var(--third-bg-color);
    overflow-x: hidden;
    transition: 0.5s;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0;
    height: 70%;
}

.head, .foot {
    list-style: none;
}

.navLink {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

@media screen and (min-width: 813px) {

    .bar1, .bar2, .bar3 {
        display: none;
    }
    
    .closeButton {
        display: none;
    }

    .sideNav {
        overflow-x: visible;
        position: relative;
        z-index: 0;
        display: flex;
        width: 100%;
    }

    .nav {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        padding: 0;
        width: 100%;
    }


}  
