:root {
    --main-bg-color: rgb(240, 240, 240);
    --secondary-bg-color: rgb(255, 255, 255);
    --third-bg-color: rgb(185, 185, 185); 
    --borders-color:rgb(0, 0, 0);
    --text-color: black;
    --loupe-color: #bbeb77;
    --list-color: rgb(250, 250, 250);
    --global-theme-toggle-bg: black;
    --global-theme-toggle-bg2: #ffc6fb;
}  

/*select a theme color*/
html[data-theme='unicorn'] {
    --main-bg-color: #fffafa;
    --secondary-bg-color: #ffc6fb;
    --third-bg-color: #d6b9ff;
    --borders-color: #c188d7;
    --loupe-color:rgb(175, 113, 247);
    --text-color: rgb(255, 21, 157);
    }

.theme-toggle2 {
    position: absolute;
    right: 75px;
    top: 20px;
    cursor: pointer;
}

.theme-toggle2 img {
    width: 40px;
}

html[data-theme='dark'] {
    --main-bg-color: #004433;
    --secondary-bg-color: #65B891;
    --third-bg-color: #4E878C;
    --borders-color: #4D4730;
    --loupe-color: #93E5AB;
    --text-color: #B5FFE1;
    }

.theme-toggle {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.theme-toggle img {
    width: 40px;
}

body {
    background-color: var(--main-bg-color);
    margin: 0;
}

h1 {
    text-align: center;
}

* {
    color:var(--text-color);
}

#logo {
    width: 75%;
    margin: 10px 0 0 10px ;
}

a:visited, a:link {
    text-decoration: none;
    color:var(--secondary-bg-color);
}

/* burger menu style */
#baseTitle {
    display: none;
}

.list_title {
    width: 100%;
    text-align: center;
    font-weight: bolder;
    margin: 20px auto 20px;
    background-color: var(--third-bg-color);
    border-bottom: 4px solid var(--borders-color);
    border-top: 4px solid var(--borders-color);
}

h2 {
    background-color: var(--third-bg-color);
    margin: 0;
}

#logo {
    width: 70%;
}

.openButton {
    margin : 8px 8px 0 8px;
    top: 0;
    right: 0;
    cursor: pointer;
    position: absolute;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:var(--secondary-bg-color);
    border-radius: 10px;
    margin: 6px 6px;
}

.closeButton {
  font-size: 2rem;
  margin : 8px;
  padding: 3px;
}

.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:var(--third-bg-color);
    overflow-x: hidden;
    transition: 0.5s;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0;
    height: 70%;
}

.head, .foot {
    list-style: none;
}

.navLink {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

/*---------FOOTER-----------*/
footer {
    background-color:var(--third-bg-color);
    width: 100%;
    height: 100%;
    margin-top: 10px;
    border-top: 4px solid var(--borders-color);
}

.footer-container {
    column-count: 2;
    padding-top: 1px;
}

.column {
    text-align: center;
    width: 100%;
    padding: 2px;
}

h4 {
    color: rgb(73, 71, 71);
}
.reseaux-container{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    justify-content: space-around;
    padding-top: 1px;
}

.copyright-container {
    display: flex;
    justify-content:center;
    font-size: x-small;
}

.reseaux-container img {
    width: 50px;
    height: 50px;
}

/* Zoom */
.reseaux-container img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.reseaux-container img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

/*return top button*/

#returnTop {
    color: rgb(83, 81, 81);
    margin: 1rem;
    text-decoration: none;
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    font-size: 18px;
    border: solid;
    outline: none;
    background-color: whitesmoke;
    cursor: pointer;
    padding: 15px;
    border-radius: 30%;
    transition: all 0.1s ease-in-out;
  }

  #returnTop:hover {
    transform: scale(1.10);
    color: rgb(13, 95, 2);
    background-color:var(--loupe-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


select, input, textarea {
    background-color: var(--list-color)
}

@media screen and (max-width: 813px)
{
    .theme-toggle2 {
        position: absolute;
        right: 2%;
        top: 7%;
        cursor: pointer;
    }

    .theme-toggle2 img {
        width: 20px;
    }

    .theme-toggle {
        position: absolute;
        right: 8%;
        top: 7%;
        cursor: pointer;
    }

    .theme-toggle img {
        width: 20px;
    }
}

@media screen and (min-width: 813px)
{
    body {
        margin: 0 15%;
    }
    
    .bar1, .bar2, .bar3 {
        display: none;
    }
    
    .closeButton {
        display: none;
    }

    .sideNav {
        overflow-x: visible;
        position: relative;
        z-index: 0;
        display: flex;
        width: 100%;
    }

    .nav {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        padding: 0;
        width: 100%;
    }

    .footer-container{
        justify-content: space-around;
        display: flex;
    }    
    .list_title {
        width: 100%;
        text-align: center;
        font-weight: bolder;
        margin: 0 auto 20px;
        background-color: var(--third-bg-color);
        padding: 20px 0;
    }
}  
        

