/* caroussel */
.dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: rgb(158, 150, 150);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    text-align: center;
    color: whitesmoke;
  }
  
.active, .dot:hover {
    background-color: #3f3d3d;
}

* {
    box-sizing: border-box;
}
  
.caroussel {
    width: 100%;
    text-align: center;
    overflow: hidden;
    z-index: 0;
    position: relative;

}
  
.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;   
    flex-flow: row; 
}

.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    margin-right: 25px;
    border-radius: 10px;
    transition: transform 0.5s;
    position: relative;
  }

@media screen and (min-width: 1000px) {
    .dot {
        display: none;
    }
}