  /*Overlay and popup*/

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
  }
  
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  .popup .close {
    position: absolute;
    top: 0;
    right: 4px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  .popup .close:hover {
    color: #06D85F;
  }

  .popup {
    margin: 5% auto;
    background: #fff;
    border-radius: 12px;
    width: 90%;
    height: 90%;
    position: relative;
    max-height: 800px;
  }

  .popup .content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    box-sizing: border-box;
    padding:6% 3% 3% 3%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--third-bg-color);
  }

  .popup_request_title {
    margin-top: 0;
    color: #333;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: larger;
  }

  .popup_user_informations {
    margin: 5% 0;
    line-height: 1.8em;
  }

 .popup_request_postalcode {
    position: relative;
    left: 75px;
 }

  .popup_description_container {
    border: solid 1px var(--borders-color);
    width: 100%;
    box-sizing: border-box;
    padding: 3%;
    line-height: 1.3em;
    background-color: var(--main-bg-color);
  }

  .popup_request_quantity {
    margin-bottom: 1.3em;
  }

  .popup_request_publishdate {
    margin: 0.3em 0 2em 0;
    font-style: italic;
    font-size: small;
  }

  .popup_answerer_name {
    text-align: center;
    margin: 0.5em;
    max-width: 100%;
  }

  .popup_answerer_name input {
    display: none;
  }

  .button_container {
    max-width: 100%;
    box-sizing: border-box;
  }

  #userId {
    text-align: center;
    font-weight: bold;
    background-color: var(--list-color)
  }

  .userId {
    display: none;
  }
  

  .iAm {
      text-align: center;
   padding-bottom: 0.5em;
   font-weight: bold;
  }

  .take_care_button {
    margin: 1em auto 0;
    font-weight: bold;
    border: 2px solid var(--borders-color);
    min-width: max-content;
    max-width: max-content;
    border-radius: 12px;
  }

  .take_care_button:hover, .take_care_button button:hover {
    background-color: var(--third-bg-color);
  }

  .take_care_button button {
    background-color: var(--secondary-bg-color);
    font-size: 20px;
    text-align: center;
    padding: 1.2em;
    border: none;
    border-radius: 10px;
  }

  /* Relooking the select button*/

/*Reinitialisation of the list*/
  /* Creating dimensions, hidding original arrow */
select {
  appearance: none;
  outline: 0;
  border: 0 !important;
  background: #F9F9F9;
  background-image: none;
  box-shadow: none;
  }
  
  /* Creating dimensions, hidding original arrow */
  .select {
  position: relative;
  width: 208px;
  height: 30px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid var(--borders-color);
  margin: 0 auto 0.8em;
  }

  /* Adapting list to div*/
  select {
  width: 100%;
  height: 100%;
  margin: auto;
  padding-left: 15px;
  color: #555555;
  cursor: pointer;
  }

  /* Placing arrow */
  .select::after {
  content: '\276F';
  position: absolute;
  top: 8%;
  right: 0;
  padding: 0 5px;
  background: white;
  pointer-events: none;
  transform: rotate(90deg);
  font-size: 1.5em;
  background-color: var(--list-color)
  }

  .select:hover::after {
  color: var(--loupe-color);
  }