@media screen and (max-width: 812px) {

    .desktop-version {
        display:none;
    }

    .presentation-picture {
        border-radius: 200px;
        height : auto;
        width: 200px;
    }

    .presentation-div-odd {
        background-color: var(--secondary-bg-color);
        padding: 1em;
        text-align: center;
    }

    .presentation-div-even {
        background-color: var(--third-bg-color);
        padding: 1em;
        text-align: center;
    }

    p {
        margin : 0;
    }

    ul{
        list-style:none;
    }

    #github{
        color: var(--text-color);
        font-size: small;
    }
    #linkedin{
        color: var(--text-color);
        font-size: small;
    }
    p{
        font-size: larger;
    }
    .contact-link{
        color: var(--text-color);
        text-align: center; 
    }

}

@media screen and (min-width: 813px) {
    .mobile-version {
        display: none;
    }
    .desktop-version{
        width: 100%;
        text-align: center;
    }
    .desktop-version img {
        width: 100%;
    }
    .contact-link{
        color: var(--text-color);
        text-align: center; 
    }

    ul{
        list-style:none;
    }

    #github{
        color: var(--text-color);
        font-size: small;
    }
    #linkedin{
        color: var(--text-color);
        font-size: small;
    }
    p{
        font-size: larger;
    }
}

