
/* Regular page*/

.publish-container {
    background-color: var(--secondary-bg-color);
    display: flex;
    width: 100%;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0 3% 0 3%;
    flex-flow: row;
}

.publish, .signIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    width: 100%;    
    position: relative;
    box-sizing: border-box;
    min-width: 0;
}

.publish p, .signIn p {
    margin: 15% 5% 5%;
}

.button {
    border: 2px solid var(--borders-color);
    border-radius: 12px;
    background-color: var(--secondary-bg-color);
    padding: 8%;
    margin: 10% 10%;
    width: 50%;
    height: 35px;
    position: relative;
    bottom: 0;
    box-sizing: content-box;
    min-width: min-content;
}

.button:hover {
    background-color: var(--third-bg-color);
}

a:visited, a:link {
    text-decoration: none;
}

.vertical-line{
    border-left: 2px solid #000;
    height: 15vh;
    margin: 10% 2px 10%;
  }

.requests_list {
    background-color: var(--main-bg-color);
}

.list_title {
    width: 100%;
    text-align: center;
    font-weight: bolder;
    margin: 20px auto 20px;
}

.cards_container {
    /*border: solid 2px blue;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 5px;
}

.cards {
    border: solid 2px var(--borders-color);
    border-radius: 12px;
    height: 170px;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    width: 170px;
    position: relative;
    background-color: var(--secondary-bg-color);
    overflow: hidden;
    text-overflow: ellipsis;
}

.request_title {
    position: relative;
    /*border: solid 2px black;*/
    top: 5%;
    margin: 0 auto;
    flex-basis: auto;
    box-sizing: content-box;
    width: 90%;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}


.request_user_firstname {
    position: absolute;
    margin-left: 5%;
    bottom: 45%;
    left: 0;
    font-style: italic;
    width: 100%;
}

.id_request {
  display: none;}

.request_town_name {
  position: absolute;
  margin-left: 5%;
  bottom: 25%;
  left: 0;
  width: max-content;
  font-size: small;
}

.loupe-img img {
    position: absolute;
    margin-right: 1%;
    bottom: 1%;
    right: 0;
    width: min-content;
    max-width: 40px;;
    cursor: pointer;
    transition: all 0.3s ease-out;
    border-radius: 21px;
    background-color: var(--loupe-color);
}

.loupe-img img:hover {
    transition: 200ms;
    transform: scale(1.1);
}


/*Overlay and popup*/

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  .popup .close {
    position: absolute;
    top: 0;
    right: 4px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }

  .popup {
    margin: 5% auto;
    background: #fff;
    border-radius: 12px;
    width: 90%;
    height: 90%;
    position: relative;
    max-height: 800px;
    display: flex;
    flex-direction: column;
  }

  .popup .content {
    height: 100%;
    overflow: visble;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding:6% 3% 3% 3%;
  }

  .popup_request_title {
    margin-top: 0;
    color: #333;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: larger;
  }

  .popup_user_informations {
    margin: 5% 0;
    line-height: 1.8em;
  }

 .popup_request_postalcode {
    position: relative;
    left: 75px;
 }


  .popup_description_container {
    border: solid 1px var(--borders-color);
    width: 100%;
    box-sizing: border-box;
    padding: 3%;
    line-height: 1.3em;
    background-color: var(--main-bg-color);
  }

  .popup_request_quantity {
    margin-bottom: 1.3em;
  }

  .popup_request_publishdate {
    margin: 0.3em 0 2em 0;
    font-style: italic;
    font-size: small;
  }

  .popup_answerer_name {
    text-align: center;
    margin: 0.5em;
    max-width: 100%;
  }

  .popup_answerer_name input {
    display: none;
  }

  .button_container {
    max-width: 100%;
    box-sizing: border-box;
  }

  #userId {
    text-align: center;
    font-weight: bold;
  }

  .iAm {
   padding-bottom: 0.5em;
   font-weight: bold;
  }

  .take_care_button {
    width: 100%;
    margin: 0 auto 3%;
    font-weight: bold;
    border: 1px solid var(--borders-color);
    max-width: max-content;
    padding: 1.3em;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

  }

  .take_care_button:hover {
    background-color: var(--third-bg-color);
  }


  /* Relooking the select button*/

/*Reinitialisation of the list*/
  /* Creating dimensions, hidding original arrow */
select {
  appearance: none;
  outline: 0;
  border: 0 !important;
  background: #F9F9F9;
  background-image: none;
  box-shadow: none;
  }
  
  /* Creating dimensions, hidding original arrow */
  .select {
  position: relative;
  width: 208px;
  height: 30px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid var(--borders-color);
  margin: 0 auto 0.8em;
  ;
  }
  /* Adapting list to div*/
  select {
  width: 100%;
  height: 100%;
  margin: auto;
  padding-left: 15px;
  color: #555555;
  cursor: pointer;
  }
  /* Placing arrow */
  .select::after {
  content: '\276F';
  position: absolute;
  top: 8%;
  right: 0;
  padding: 0 5px;
  background: white;
  pointer-events: none;
  transform: rotate(90deg);
  font-size: 1.5em;
  background: #F9F9F9;
  }
  .select:hover::after {
  color: var(--loupe-color);
  }
