{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/styleFormInscription.css">{% endblock %}

{% block content %}
<div class="bg-c">
    <div class="boxForm">
      <h2 id="register">Nouvel utilisateur</h2>
      {% for error in errors %}
        <p class="errors">{{ error }}</p>
      {% endfor %}
      <form method="POST">
        <div class="input">
            <label for="firstname">Prénom :</label>
            <input type="text" id="firstname" placeholder="Prénom" name="firstname">
        </div><br>
        <div class="input">
            <label for="lastname">Nom :</label>
            <input type="text" id="lastname" placeholder="Nom" name="lastname">
        </div><br>
        <div class="input">
            <label for="street">N° et voie :</label>   
            <input type="text" id="street" placeholder="Numéro et voie" name="street">
        </div><br>
        <div class="input">
            <label for="townId">Ville :</label><br>
            <div class="select_container">
              <select id="townId" name="townId" type="choice">                
                <option>-- --</option>
                {% for town in towns %}
                  <option name="townId" value={{ town.id }}>{{ town.name }} </option>
                {% endfor %}
              </select>
            </div>
        </div><br>
        <div class="input">
            <label for="phone">Téléphone :</label><br>   
            <input type="tel" id="phone" placeholder="Téléphone" name="phone">
        </div><br>
        <div class="input">
            <label for="email">E-mail :</label>    
            <input type="mail" id="email" placeholder="Email" name="email">
        </div><br>
        <div class="button_container">
        <input type="submit" value="Inscription">
        </div>
      </form>
    </div>
  </div>  
{% endblock %}