{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/formStyle.css">{% endblock %}

{% block content %}
<div class="bg-c">
    <div class="boxForm">
      <h2 id="register">Nouvel utilisateur</h2>
      {% for error in errors %}
        <p class="errors">{{ error }}</p>
      {% endfor %}
      <form method="POST">
        <div class="input">
            <label for="firstname">Prénom :</label>
            <input class="field" type="text" id="firstname" placeholder="Prénom" name="firstname">
        </div><br>
        <div class="input">
            <label for="lastname">Nom :</label>
            <input class="field" type="text" id="lastname" placeholder="Nom" name="lastname">
        </div><br>
        <div class="input">
            <label for="street">N° et voie :</label>   
            <input class="field" type="text" id="street" placeholder="Numéro et voie" name="street">
        </div><br>
        <div class="input">
          <label for="townId">Ville :</label><br>
          <div class="select">
          <select id="townId" name="townId" type="choice">                
            <option>-- --</option>
            {% for town in towns %}
              <option name="townId" value={{ town.id }}>{{ town.name }} </option>
            {% endfor %}
          </select>
          </div>
        </div><br>
        <div class="input">
            <label for="phone">Téléphone :</label>   
            <input class="field" type="tel" pattern="[0-9]{10}" id="phone" placeholder="Téléphone" name="phone">
        </div><br>
        <div class="input">
            <label for="email">E-mail :</label>    
            <input class="field" type="mail" id="email" placeholder="Email" name="email">
        </div><br>
        <div class="button_container">
        <div class="button">
        <input type="submit" value="Inscription">
        </div>
      </form>
    </div>
  </div>  
{% endblock %}